venv/
__pycache__/
*.pyc
*.pyo
.env
.env.*
.git/
terraform/
docker-compose.yml
tests/
.pytest_cache/
docs/
.vscode/
.idea/
.DS_Store
Thumbs.db

*.tar
*.tar.gz
*.zip
aws-lb-controller.yaml
iam_policy.json
ecr.py
tag_subnets.py
test.db
*.py.bak
trust-policy.json
*.json
*.db